.mid-section-left {
  height: 500px;
  color: white;
}
.mid-section-right {
  height: 500px;
  width: 550px;
}
.container-fluid {
  background-color: #003300;
}

#fColor {
  color: white;
  font-size: 20px;
}

#hov a:hover {
  color: #bfbfbf;
  font-size: 25px;
}

.footer {
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
  color: white;
  background-color: #003300;
}

.social {
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
  color: white;
}
