.container-fluid {
  background-color: #003300;
}

#fColor {
  color: white;
  font-size: 20px;
}

#hov a:hover {
  color: #bfbfbf;
  font-size: 25px;
}

.footer {
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
  color: white;
  background-color: #003300;
}

.bus-time {
  padding-left: 30px;
}
	
	input[type=text] {
  
  padding: 5px 20px;
  margin: 0 auto;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid green;
}